:root {
	--white: #fff;

	--blue-100: #555b77;
	--blue-200: #404459;
	--blue-300: #292c39;

	--border-blue-300: rgba(41, 44, 57, 0.08);
	--white-text: rgba(255, 255, 255, 0.8);

	--border-radius: 5px;

	--box-shadow: 0 3px 25px 0 rgba(41, 44, 57, 0.08);

	--grid-gap: 18px;
}
