.page-content {
	// padding: 40px;
	display: grid;
	grid-template-columns: 1fr 445px;
	grid-template-rows: 100%;
	gap: var(--grid-gap);
	padding: 0 40px;
	.column {
		padding: 40px 0;
		// & > div {
		// outline: 1px dashed var(--white);
		// }
		&:first-of-type {
			display: grid;
			grid-template-rows: 1fr 50px;
			gap: var(--grid-gap);
		}
		&:last-of-type {
			overflow: auto;
			z-index: 1;
			& > div {
				background-color: var(--blue-200);
				border: 1px solid var(--border-blue-300);
				border-radius: var(--border-radius);
				box-shadow: var(--box-shadow);
				&:not(:last-of-type) {
					margin-bottom: var(--grid-gap);
				}
			}
		}
	}
}
